.container-fluid{
  background-color: rgb(220,220,200);
  font-family: Lora,Georgia;
}
.main-content{
  max-width:900px;
  margin:0px auto;
  padding:50px 0px;
}
/*header stuff*/
.head-info{
  align:center;
  text-align:center;
  margin-bottom:5em;
  font-family: Source Sans Pro;
}

.head-info > *{
  display:inline-block;
  vertical-align:middle;
}

.head-info > div > a{
  text-decoration: none;
  color:#000000;
  padding: 1em;
  background-color: rgb(220,220,200);
}

#mono-logo{
  width:100px;
  height:80px;
  background: url("https://d13yacurqjgara.cloudfront.net/users/2790/screenshots/861686/mm_monogram_2.png") -250px -260px;
  background-size: 200px 200px;
}

.big-link{
}
.small-link{
}

/*main content stuff*/
.main-body{
  width:900px;
  height:100px;
  background-color:#ffffff;
}
